### day 3

### while
- it excutes block or set of instructions until condition is false
- while we didn't know the range
- execute faster than for loop
- user incrementation

In [ ]:
# while syntax
initilization
while condition:
    statements
    increment/decerment

In [1]:
n=1
while n<=5:
    print("svec")
    n=n+1

svec
svec
svec
svec
svec

In [3]:
n=10
while n>=1:
    print(n,end=" ")
    n=n-1

10 9 8 7 6 5 4 3 2 1

In [6]:
# i/p 1234
# o/p digit count:4
s=int(input())
c=0
while(s!=0):#1234!=0 123!=0 12!=0 1!=0
    c=c+1 #1234%10 123%10
    s=s//10
print("\n digit count:",c)

12345687

 digit count: 8

In [10]:
# check the given is palindrome or not
# 121--121
#mom--mom
n=int(input())
temp=n
rev=0
while(n!=0):
    rem=n%10
    rev=rev*10+rem
    n=n//10
if(temp==rev):
    print("palindrome")
else:
    print("not palindrome")

212
palindrome

In [ ]:
#syntax:: nested for loop
for iter in range(start,end,step):
    for iter in range(start,end,step):
    statement1
    statementn

In [ ]:
# mateix format
- rows,columes
- 2 dimensions
    1 2 3
    1 2 3

In [23]:
for row in range(1,5):
    for colume in range(1,5):
        print("*$",end=" ")
    print()# new line

*$ *$ *$ *$
*$ *$ *$ *$
*$ *$ *$ *$
*$ *$ *$ *$

In [21]:
for row in range(1,4):
    for colume in range(1,4):
        print(row,end=" ")
    print()# new line

1 1 1
2 2 2
3 3 3

In [24]:
for row in range(1,6):
    for colume in range(1,row+1):
        print("*",end=" ")
    print()# new line

*
* *
* * *
* * * *
* * * * *

In [26]:
for row in range(6,0,-1):
    for colume in range(1,row+1):
        print("*$",end=" ")
    print()# new line

*$ *$ *$ *$ *$ *$
*$ *$ *$ *$ *$
*$ *$ *$ *$
*$ *$ *$
*$ *$
*$

In [30]:
for row in range(1,6):
    for colume in range(1,row+1):
        print("*!",end=" ")
    print()# new line
for row in range(6,0,-1):
    for colume in range(1,row+1):
        print("*!",end=" ")
    print()# new line

*!
*! *!
*! *! *!
*! *! *! *!
*! *! *! *! *!
*! *! *! *! *! *!
*! *! *! *! *!
*! *! *! *!
*! *! *!
*! *!
*!

In [42]:
# 1 to 10
# prime numbers:2,3,5,7
st=int(input())
ed=int(input())
for num in range(st,ed+1):
    c=0
    for var in range(1,num+1):
        if (num%var==0):
            c+=1 # factors
    if(c==2):
        print(num,end=" ")

1
10
2 3 5 7

In [46]:
# print 1to10 table

for n in range(1,11):
    for i in range(1,11):
        print(n,"*",i,"*",n*i)

1 * 1 * 1
1 * 2 * 2
1 * 3 * 3
1 * 4 * 4
1 * 5 * 5
1 * 6 * 6
1 * 7 * 7
1 * 8 * 8
1 * 9 * 9
1 * 10 * 10
2 * 1 * 2
2 * 2 * 4
2 * 3 * 6
2 * 4 * 8
2 * 5 * 10
2 * 6 * 12
2 * 7 * 14
2 * 8 * 16
2 * 9 * 18
2 * 10 * 20
3 * 1 * 3
3 * 2 * 6
3 * 3 * 9
3 * 4 * 12
3 * 5 * 15
3 * 6 * 18
3 * 7 * 21
3 * 8 * 24
3 * 9 * 27
3 * 10 * 30
4 * 1 * 4
4 * 2 * 8
4 * 3 * 12
4 * 4 * 16
4 * 5 * 20
4 * 6 * 24
4 * 7 * 28
4 * 8 * 32
4 * 9 * 36
4 * 10 * 40
5 * 1 * 5
5 * 2 * 10
5 * 3 * 15
5 * 4 * 20
5 * 5 * 25
5 * 6 * 30
5 * 7 * 35
5 * 8 * 40
5 * 9 * 45
5 * 10 * 50
6 * 1 * 6
6 * 2 * 12
6 * 3 * 18
6 * 4 * 24
6 * 5 * 30
6 * 6 * 36
6 * 7 * 42
6 * 8 * 48
6 * 9 * 54
6 * 10 * 60
7 * 1 * 7
7 * 2 * 14
7 * 3 * 21
7 * 4 * 28
7 * 5 * 35
7 * 6 * 42
7 * 7 * 49
7 * 8 * 56
7 * 9 * 63
7 * 10 * 70
8 * 1 * 8
8 * 2 * 16
8 * 3 * 24
8 * 4 * 32
8 * 5 * 40
8 * 6 * 48
8 * 7 * 56
8 * 8 * 64
8 * 9 * 72
8 * 10 * 80
9 * 1 * 9
9 * 2 * 18
9 * 3 * 27
9 * 4 * 36
9 * 5 * 45
9 * 6 * 54
9 * 7 * 63
9 * 8 * 72
9 * 9 * 81
9 * 10 * 90
10 * 1 * 10
10 * 2 * 20
10 * 3 * 30
10 * 4 * 40
10 * 5 * 50
10 * 6 * 60
10 * 7 * 70
10 * 8 * 80
10 * 9 * 90
10 * 10 * 100

In [ ]:
# nested while
-loop inside another loop

In [ ]:
# syntax 
initilization
while condition:
    statements
    ince/decr
    while condition:
        statements
        incr/decr

In [50]:
# print 1 to 10 table use nested while
i=1
while(i<=10):
    j=1
    while j<=10:
        print(i,"*",j,"=",i*j)
        j+=1
    print()
    i+=1

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

### jump statements
- we called as unconditional insibe jump statements
- break
- continue
- pass

### Break
- terminates the current loop statement
- Break is a keywords

In [52]:
for i in "python":
    if i=='h':
        break
    print(i)

p
y
t

In [58]:
i=0
while(i<=10):
    i+=1
    if i==6:
        break
    print(i)

1
2
3
4
5

### continue
- its skips only current iteration and continue the next iteration
- continue is also keyword

In [61]:
for i in range(10):
    if i==6:
        continue
        prinf("abc")
    print(i)

0
1
2
3
4
5
7
8
9

In [63]:
# print odd numbers using even numbers conditions using continus
for i in range(1,10):
    if i%2==0:
        continue
    print(i,end=" ")

1 3 5 7 9

### pass
- it is a keyword
- when we need condition scientifically correct need to change  another operation
- it is null operation
- pass statement we use to create empty classes also

In [66]:
s="svec"
for i in s:
    if i=='e':
        pass
        print("pass exicuted")
    print(i)

s
v
pass exicuted
e
c

### string
- string is grupe of characters
- string is a derived datatype and immutable
- all string return new values

In [1]:
a="vasavicollage"
print(type(a))

<class 'str'>

In [2]:
print(len(a))

13

In [3]:
print(min(a))
print(max(a))
print(sorted(a))
#print(sum(a))

a
v
['a', 'a', 'a', 'c', 'e', 'g', 'i', 'l', 'l', 'o', 's', 'v', 'v']

In [4]:
s="python"
s1="workshop"
print(s+s1)
print(s,s1)
print(s*s1)

pythonworkshop
python workshop

TypeError: can't multiply sequence by non-int of type 'str'

In [7]:
# slicing syntax::(start:end:step)
# positive indexing(left to right)
# negative indexing(right to left)
s="python workshop"
print(len(s))
print(s[0])
print(s[5])
print(s[14])
print(s[-1])
print(s[-2])
print(s[::])
print(s[::-1])
print(s[0:4])
print(s[5:12])
print(s[-4::-7])

15
p
n
p
p
o
python workshop
pohskrow nohtyp
pyth
n works
so

In [8]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [13]:
s='vasavi colage'
s="vasavi collage"

s='''vasavi colage '''
s1='''today section 
string'''
s2="""python class """

In [14]:
print(s1)

today section
string

In [15]:
print(s2)

python class

In [16]:
print(len(s1))

21

In [17]:
print(len(s2))

13

In [20]:
p="python workshop"
print(p.capitalize())

Python workshop

In [23]:
n="abcdefg"
print(n)
print(n.upper())
print(n.lower())

abcdefg
ABCDEFG
abcdefg

In [24]:
m="faculty development program"
print(m)
print(m.title())

faculty development program
Faculty Development Program

In [26]:
s2="workshop"
s3="WORKSHOP"
s4="workshop"
print(s2.islower(),s3.isupper(),s4.isupper())

True True False

In [27]:
s7="It Computre Lab"
s7.istitle()

True

In [28]:
s7="it computre lab"
s7.istitle()

False

In [29]:
s8=" "
s8.isspace()

True

In [30]:
# isdigit-which is used to identifiy the digit in a given string
# isalpha-which return true ,alphabets present in a given string
n="python3"
n.isalpha()

False

In [32]:
n.isdigit()

False

In [33]:
s="345678"
s.isalnum()

True

In [34]:
s="today start some string methods python workshop class "
s.split()

['today', 'start', 'some', 'string', 'methods', 'python', 'workshop', 'class']

In [36]:
s="today@start@some@string@methods@python@workshop@class "
s.split('@')

['today', 'start', 'some', 'string', 'methods', 'python', 'workshop', 'class ']

In [37]:
s="today start some string methods python workshop class "
s.split('t')

['', 'oday s', 'ar', ' some s', 'ring me', 'hods py', 'hon workshop class ']

In [38]:
s="today start some string methods python workshop class "
s.split('o')

['t', 'day start s', 'me string meth', 'ds pyth', 'n w', 'rksh', 'p class ']

In [39]:
s="CoMPUter Lab"
s2=''
for i in s:
    if i.islower():
        s2 +=i.upper()
    else:
        s2 +=i.lower()
print(s2)

cOmpuTER lAB

In [40]:
#swapcase
s.swapcase()

'cOmpuTER lAB'

In [3]:
s="today start some string methods python workshop class "
s

'today start some string methods python workshop class '

In [4]:
# count::to know the number of occurences
s.count('t')

6

In [5]:
s.index('t')# searching starts from begining

0

In [6]:
s.rindex('t')# searching starts from ending

34

In [7]:
# find --it will return  index
s.find('t')

0

In [8]:
s.index('ar')

8

In [1]:
# replace-used to replace the old character
# strip used to remove white space by defult
a="bye vasavi collage"
a.replace('bye','hai')

'hai vasavi collage'

In [5]:
a="      vasavi collage"
print(a)

      vasavi collage

In [4]:
a.strip()

'vasavi collage'

In [5]:
a.lstrip()

'vasavi collage'

In [6]:
a.rstrip()

'      vasavi collage'

In [6]:
#join
#center
#startswith
#endswith
b="monday"
'@'.join(b)

'm@o@n@d@a@y'

In [15]:
b="monday"
'.'.join(b)

'm.o.n.d.a.y'

In [16]:
b.center(1)
print(b)

monday

In [17]:
b.zfill(10)

'0000monday'

In [18]:
a="today is three day"
len(a)
a.zfill(25)

'0000000today is three day'

In [20]:
  a.startswith('to')

True

In [21]:
a.startswith('day')

False

In [22]:
a.endswith('to')

False

In [23]:
a.endswith('day')

True

### data structures
- list
    - it is one of the data structrue in python.
    - list is mutable
    - Represented with []
    -slicing,indexing are same as the strings concepts.
- Tuple
- Dictionaries
- DT are two types:
## mutable  
    -we can change at any time after  its declared.
    
    -ex:list,dictionaries
## immutable
    -we can't change it once it declared.
    
    -ex:string,tuple

In [30]:
li=[1,2,4,6,8,9,3]
print(li)

[1, 2, 4, 6, 8, 9, 3]

In [31]:
len(li)

7

In [33]:
print("length of the list",len(li))
print("max of the list",max(li))
print("min of the list",min(li))

length of the list 7
max of the list 9
min of the list 1

In [38]:
a=['cat',1,2,3,4,5]
b=[1,3,'dog',5,3]
(a+b)*2

['cat',
 1,
 2,
 3,
 4,
 5,
 1,
 3,
 'dog',
 5,
 3,
 'cat',
 1,
 2,
 3,
 4,
 5,
 1,
 3,
 'dog',
 5,
 3]

In [39]:
a+b #concatitation

['cat', 1, 2, 3, 4, 5, 1, 3, 'dog', 5, 3]

In [40]:
'cat'in a

True

In [41]:
'8'in a

False

In [2]:
names=['ramu','kedar','anji','babu','sai',]
names[0]
names[3]

'babu'

In [3]:
names[:3]

['ramu', 'kedar', 'anji']

In [5]:
names[0:4]

['ramu', 'kedar', 'anji', 'babu']

In [6]:
s='ramesh'
s[0]
s[:3] #ram 
s[0:3]#ram
s[2:6]#mesh
s[2:]#mesh

'mesh'

In [8]:
li1=['vasavi','collage','students','hostel']

In [9]:
li1[2:]

['students', 'hostel']

In [10]:
li1[2:5]

['students', 'hostel']