## 4th day

In [1]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [5]:
li=[2,5,6,8,4,'mango']
li1=['ravi','somu',1,2.5,5,4,8,7]
li2=[5,2,9,'abc']
print(li)
print(li1)
print(li2)

[2, 5, 6, 8, 4, 'mango']
['ravi', 'somu', 1, 2.5, 5, 4, 8, 7]
[5, 2, 9, 'abc']

In [6]:
#append-we will add only single value
# extend-we will add more than one vlue using extend
print(li)

[2, 5, 6, 8, 4, 'mango']

In [7]:
li.append(9)
li

[2, 5, 6, 8, 4, 'mango', 9]

In [9]:
li.extend([1,8,7])
li

[2, 5, 6, 8, 4, 'mango', 9, 1, 8, 7]

In [10]:
li=[1,2,3,4,5,9,8,]
print(li)

[1, 2, 3, 4, 5, 9, 8]

In [13]:
li.reverse()
print(li)

[8, 9, 5, 4, 3, 2, 1]

In [14]:
li.pop()
print(li)

[8, 9, 5, 4, 3, 2]

In [15]:
li.sort()
print(li)

[2, 3, 4, 5, 8, 9]

In [16]:
li.clear()
print(li)

[]

In [17]:
li

[]

In [18]:
li=[9,5,1,7,3,5]
li.insert(4,'hero')
li

[9, 5, 1, 7, 'hero', 3, 5]

In [20]:
# 0-10 rang
# program
# print even numbers
# print odd numbers
# print result(total numbers (0-10))
even=[]
odd=[]
for i in range(0,10):
    if i%2==0:
        even.append(i)
    else:
        odd.append(i)
print(even)
print(odd)
print(even+odd)

[0, 2, 4, 6, 8]
[1, 3, 5, 7, 9]
[0, 2, 4, 6, 8, 1, 3, 5, 7, 9]

In [23]:
# print the largest value 
si=[20,454,65,85,1,220,34,900,245,21]
high=0
for i in si:
    if i>=high:
        high=i
print("\n largest number:",high)

 largest number: 900

### tuple
- tuple represent wiht () # paranthisis

In [24]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [27]:
t=(4,5,2,6,1,3,9,7,8)
print(t)

(4, 5, 2, 6, 1, 3, 9, 7, 8)

In [28]:
print(type(t))

<class 'tuple'>

In [29]:
t.count(2)

1

In [33]:
t.index(1)

4

### set
- set representd with {}

In [34]:
s={1,2,5,4,3,7,30}
print(type(s))

<class 'set'>

In [35]:
li=[1,2,0,50,4,3]
t=(5,40,8,9,12,10)
s={10,5,15,20,25}
type(li)

list

In [36]:
type(s)

set

In [37]:
type(t)

tuple

In [39]:
print("length of list:",len(li))
print("length of tupel:",len(t))
print("length of set:",len(s))

length of list: 6
length of tupel: 6
length of set: 5

In [40]:
print(s)

{5, 10, 15, 20, 25}

In [41]:
print(t)

(5, 40, 8, 9, 12, 10)

In [42]:
print(li)

[1, 2, 0, 50, 4, 3]

In [43]:
dir(set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [2]:
s={'ant','cat','elephant','papy'}
s

{'ant', 'cat', 'elephant', 'papy'}

In [5]:
s.add('lion')
s

{'ant', 'cat', 'elephant', 'lion', 'papy'}

In [7]:
# update-to add multiple elements at time in a set
s.update((1,2,3,4,5))
print(s)

{1, 2, 'lion', 'papy', 3, 'cat', 4, 5, 'ant', 'elephant'}

In [8]:
s.update([1,2,3,4,5])
print(s)

{1, 2, 'lion', 'papy', 3, 'cat', 4, 5, 'ant', 'elephant'}

### deletion
- clear() # to clear the all data
- remove() # it is used to remove a particular value 
- discard() # it is also used to discard a particular value
- pop() # to delete random elements

In [2]:
s={'ant','cat','elephant','pappy',1,2,3,4,5}
s

{1, 2, 3, 4, 5, 'ant', 'cat', 'elephant', 'pappy'}

In [3]:
s.remove(('cat'))
s

{1, 2, 3, 4, 5, 'ant', 'elephant', 'pappy'}

In [5]:
s.discard(1)
s

{2, 3, 4, 5, 'ant', 'elephant', 'pappy'}

In [6]:
s.pop()
s

{3, 4, 5, 'ant', 'elephant', 'pappy'}

In [7]:
s.clear()
s

set()

### set operations
- union: combination all elements from two sets
- intersection:common elements from two sets
- difference:all the remaining elements from a sets after removing common elements
- symetric-difference:uncommon elements from both sets

In [10]:
a={1,5,4,8,9,6,7,}
b={2,4,8,6,10,12}
print(a.union(b))

{1, 2, 4, 5, 6, 7, 8, 9, 10, 12}

In [11]:
print(a)

{1, 4, 5, 6, 7, 8, 9}

In [12]:
print(b)

{2, 4, 6, 8, 10, 12}

In [13]:
print(a.intersection(b))

{8, 4, 6}

In [15]:
print(a.difference(b))

{1, 5, 9, 7}

In [17]:
print(a.symmetric_difference(b))

{1, 2, 5, 7, 9, 10, 12}

In [19]:
a={5,10,15,20,25}
a1=a.copy()
a1

{5, 10, 15, 20, 25}

In [21]:
f={3,2,1,6,5,4}
e={2,5}
print(e.issubset(f))
print(f.issuperset(e))

True
True

In [22]:
l={1,2,3,4,7}
p={6,8,9}
l.isdisjoint(p)

True

In [25]:
r={4,5,6,7,8}
s={1,2,3,4}
print(r.difference(s))

{8, 5, 6, 7}

In [27]:
r={4,5,6,7,8}
s={1,2,3,4}
print(r.difference_update(s))

None

In [28]:
print(r)
print(s)

{5, 6, 7, 8}
{1, 2, 3, 4}

### Dictionarie
- Dictionary is an unordered collection of items
- each  item of Dictionary has a key and value pair:::{key:value}
- Dictionary is mutable and changable
- in python Dictionary written in {}
- key are allow duplicate values
- values re allowed to duplicate values
- entire Dictionary depending upon key
   - key are unique in nature
   - key can be written in any data type
- values maybe similar to values, mentioned as any datatype
- key and value together called as a item
- in Dictionary indexing is not supported

In [29]:
d={}
print(type(d))

<class 'dict'>

In [30]:
d={20:10,5:2,30:43,50:64,5:100}# key can't mention duplicate
print(d)

{20: 10, 5: 100, 30: 43, 50: 64}

In [31]:
print((sum(d)))
print((max(d)))
print((min(d)))
print((len(d)))
print((sorted(d)))

105
50
5
4
[5, 20, 30, 50]

In [35]:
d1={51:41,64:85,12:15,40:20,30:63,34:{1,2,5,4,3}}
d1

{51: 41, 64: 85, 12: 15, 40: 20, 30: 63, 34: {1, 2, 3, 4, 5}}

In [36]:
d1[34]

{1, 2, 3, 4, 5}

In [37]:
dir(dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [38]:
d1.get(34)

{1, 2, 3, 4, 5}

In [39]:
d1.keys()

dict_keys([51, 64, 12, 40, 30, 34])

In [41]:
d1.values()

dict_values([41, 85, 15, 20, 63, {1, 2, 3, 4, 5}])

In [42]:
d1['python']="workshop"
d1

{51: 41,
 64: 85,
 12: 15,
 40: 20,
 30: 63,
 34: {1, 2, 3, 4, 5},
 'python': 'workshop'}

In [53]:
d1.pop(34)
d1

{64: 85, 12: 15, 30: 63}

In [47]:
d1.popitem()

('python', 'workshop')

In [48]:
d1

{64: 85, 12: 15, 30: 63, 34: {1, 2, 3, 4, 5}}

In [54]:
d1.items()

dict_items([(64, 85), (12, 15), (30, 63)])

In [55]:
d2=d1.copy()
print(d2)
print(d1)

{64: 85, 12: 15, 30: 63}
{64: 85, 12: 15, 30: 63}

In [59]:
d2.fromkeys('work')

{'w': None, 'o': None, 'r': None, 'k': None}

In [60]:
d2.fromkeys('class',50)

{'c': 50, 'l': 50, 'a': 50, 's': 50}

In [61]:
d2.update({'raju':'dict'})

In [62]:
d2

{64: 85, 12: 15, 30: 63, 'raju': 'dict'}

In [64]:
d2.clear()

In [65]:
d2

{}

### modules and packages
- module:module is nothing but.py file or no of files it cantains functions
    - module is a single or multiple files that can be reuse your code.
- package:collection of modules    
  - package is directory of such modules.
  - it possible to put several modules in to a package
modules are two types:
    - builtin module ex:math functions
    - user defined modules

In [66]:
# builtin module
import math
print(dir(math),end='')

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc']

In [68]:
from math import factorial,pi,remainder

In [69]:
print(factorial(10))

3628800

In [70]:
print(pi)

3.141592653589793

In [71]:
print(remainder(20,6))

2.0

In [72]:
from math import *

In [73]:
print(floor(12.5))

12

In [77]:
print(ceil(25.5))

26

In [78]:
print(sqrt(7))

2.6457513110645907

In [80]:
print(cos(0))

1.0

In [81]:
print(tan(1))

1.5574077246549023

In [82]:
print(sin(2))

0.9092974268256817

In [84]:
print(gcd(25,5))#gcd (a,b)=(a*b)

5

In [87]:
import random
print(dir(random))

['BPF', 'LOG4', 'NV_MAGICCONST', 'RECIP_BPF', 'Random', 'SG_MAGICCONST', 'SystemRandom', 'TWOPI', '_Sequence', '_Set', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', '_accumulate', '_acos', '_bisect', '_ceil', '_cos', '_e', '_exp', '_inst', '_log', '_os', '_pi', '_random', '_repeat', '_sha512', '_sin', '_sqrt', '_test', '_test_generator', '_urandom', '_warn', 'betavariate', 'choice', 'choices', 'expovariate', 'gammavariate', 'gauss', 'getrandbits', 'getstate', 'lognormvariate', 'normalvariate', 'paretovariate', 'randint', 'random', 'randrange', 'sample', 'seed', 'setstate', 'shuffle', 'triangular', 'uniform', 'vonmisesvariate', 'weibullvariate']

In [89]:
from random import *

In [90]:
print(randint(111,999))

708

In [91]:
print(random())# it gives the values in between 0 to 10.

0.6122116179961811

In [1]:
import random
random.randrange(0,10)

9

In [3]:
import calendar
print(calendar.calendar(2020))

                                  2020

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2                         1
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       2  3  4  5  6  7  8
13 14 15 16 17 18 19      10 11 12 13 14 15 16       9 10 11 12 13 14 15
20 21 22 23 24 25 26      17 18 19 20 21 22 23      16 17 18 19 20 21 22
27 28 29 30 31            24 25 26 27 28 29         23 24 25 26 27 28 29
                                                    30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                   1  2  3       1  2  3  4  5  6  7
 6  7  8  9 10 11 12       4  5  6  7  8  9 10       8  9 10 11 12 13 14
13 14 15 16 17 18 19      11 12 13 14 15 16 17      15 16 17 18 19 20 21
20 21 22 23 24 25 26      18 19 20 21 22 23 24      22 23 24 25 26 27 28
27 28 29 30               25 26 27 28 29 30 31      29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2          1  2  3  4  5  6
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       7  8  9 10 11 12 13
13 14 15 16 17 18 19      10 11 12 13 14 15 16      14 15 16 17 18 19 20
20 21 22 23 24 25 26      17 18 19 20 21 22 23      21 22 23 24 25 26 27
27 28 29 30 31            24 25 26 27 28 29 30      28 29 30
                          31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                         1          1  2  3  4  5  6
 5  6  7  8  9 10 11       2  3  4  5  6  7  8       7  8  9 10 11 12 13
12 13 14 15 16 17 18       9 10 11 12 13 14 15      14 15 16 17 18 19 20
19 20 21 22 23 24 25      16 17 18 19 20 21 22      21 22 23 24 25 26 27
26 27 28 29 30 31         23 24 25 26 27 28 29      28 29 30 31
                          30

In [4]:
print(calendar.isleap(2020))

True

In [6]:
print(calendar.month(2022,4))

     April 2022
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30

In [7]:
import calc

In [8]:
dir(calc)

['__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'add',
 'div',
 'mul',
 'sub']

In [9]:
calc.add(20,30)

50

In [10]:
calc.sub(20,30)

-10

In [11]:
calc.mul(20,30)

600

In [12]:
calc.div(20,30)

0.6666666666666666

In [13]:
from calc import add

In [14]:
add(50,40)

90

In [15]:
from calc import *

In [20]:
print(add(20,30))
print(sub(20,30))
print(mul(20,5))
print(div(20,4))

50
-10
100
5.0

In [2]:
from calc import add as a

In [3]:
import oe

In [4]:
oe.oe(2)

2  Is an even

In [5]:
oe.oe(5)

5  is an odd

### Regular Expressions
- A regular expressions a sequence of a characters that define a search patterns
- we have to builtin module in python work to with -regular expressions:representd 're'
- we have to import that module in to our python files by using 're'
-syntax::re.regex function('pattern'.'input')

- 3 methods
-1.findall()
    -it return alist containing all matches(or)this module is used d to 
    search for all occurences that match a given(find all the duplicates for specified pattern)
 - 2.search())
 - to test specified pattern is present or not in the given string
-3.match()
- the text the i/p string starts with specified pattern or not

In [6]:
import re
a='the sun rise in the east'
z=re.findall('he',a)
print(z)

['he', 'he']

In [7]:
import re
a='the sun rise in the east'
z=re.findall('i',a)
print(z)

['i', 'i']

In [8]:
re.findall('p','pythonwoekshop')

['p', 'p']

In [9]:
#search
re.search('p','pythonwoekshop')

In [10]:
re.match('pyt','python')

In [11]:
re.match('th','python')

In [12]:
re.match('pytho','python')

# mobile validation
- 10 digits
- starts with indian num +91
- startswth 9,8,7,6
# gmail validations
- length-user mentioned
- adding caps letters and samall letters with special characters and digits
- @gmail.com,@yahoo.com,@vasavi.ac.in

#### patterna::
    -   ^ -->start
    -   $ -->end
    -   [0-9]--> numbers
    -   [a-z]--> small alphabets
    -   [A-Z]--> caps alphabets
    -   [a-zA-Z]--> both caps and small alphabets
    -   [@]--> special charcters
    -   [.]--> for mention.
    -   [0-9]{4}--> we have to given 4 numbers
    -   [0-9]{6}--> we have to given 6 numbers 
    -   | --> for another pattern

In [ ]:
# 9925367401
# +91 9876543201
#pattern=^[6-9][0-9]{9}$
# +91 9876543201
# pattern=^[+][9][1][6-9][0-9]{9}$

In [16]:
import re 
phone_no=input("enter phone number")
pattern="^[6-9][0-9]{9}$|^[+][9][1][6-9][0-9]{9}$"
if re.match(pattern,phone_no):
    print("valid phone no")
else:
    print("invalid phone_no")

enter phone number9925367401
valid phone no

### email validation
1.username@domain
 - username specification
  - a-zA-Z-9 
  - special symbol:[]
        -length-6 to 20 characters
2.domain
 - a-z length-5 to 10 characters
 - A-Z length-2 to 5---in..,..org

In [21]:
# vasavi99@gmail.com
import re
gmail=input("enter gmail ")
pattern="^[a-z]{6}[9][9][@][a-z]{5}[.][a-z]{3}$"
if re.match(pattern,gmail):
    print("valid gmail")
else:
    print("invalid gmail")

enter gmail vasavi99@gmail.com
valid gmail